@import url('https://fonts.googleapis.com/css?family=Quattrocento');

#title {
  position: relative;
  left: 350px;
  top: 20px;
  font-size: 35px;
}

#description {
  position: relative;
  left: 210px;
  top: 5px;
}

#title, #description, #legend, #tileText {
  font-family: Quattrocento, arial;
}